body {
    background-color: #E5E7E6;
    height: 100vh; /* Adjust height to fit the viewport */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
}

#heading {
    text-align: center;
    font-size: 2rem; /* Customize font size */
    margin-bottom: 20px; /* Add spacing below the heading */
}

#input-todo {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#input-todo-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

#taskList {
    display: flex;
    flex-direction: column;
    align-items: center;
}
